<?xml version="1.0"?>
<launch>
    <arg name="output" value="screen" />

    <!-- Always run a multicast server with a string topic answerer -->
    <node name="hmi" pkg="hmi" type="multi_client" output="$(arg output)"/>

    <group ns="hmi">
        <node name="string_topic_answerer" pkg="hmi" type="string_topic_answerer" output="$(arg output)"/>

        <node name="yapykaldi_hmi_node" pkg="yapykaldi_ros" type="yapykaldi_hmi_node" output="$(arg output)">
            <param name="~/model_dir" value="~/git/yapykaldi/data/kaldi-generic-en-tdnn_fl-latest"/>
        </node>

    </group> <!-- ns="hmi" -->

</launch>
